@font-face {
  font-family: 'Cagliostro';
  font-style: normal;
  font-weight: 400;
  src: local('Cagliostro Regular'), local('Cagliostro-Regular'), url(./9YPDJs4jy8n6yJ7GYUYhuS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
