{% extends 'core.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Add a hidden service" %} &mdash; Ahmia{% endblock %}

{% block body %}
  <div id="ahmiaAboutPage">

    <div id="ahmiaAddService">
      <p class="end">
        {% blocktrans %}
          Add your site to the Ahmia index to help us learn more about hidden
          services. Adding your onion will allow users of Ahmia to find your
          hidden service and its content. Please do not add child abuse
          material; it will not be indexed and your hidden service will be
          blacklisted.
        {% endblocktrans %}
      </p>

      <h3 class="checkForm">{% trans "Add your hidden service" %} </h3>

      <div id="ahmiaFormContainer">
        <form id="addOnion" method="post" action="">
          <input type="url" name="onion" title="onion">
          <input type="submit" value="{% trans "Add" %}">
        </form>

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <h3 class="checkForm">
          {% blocktrans %}
             Example: <br>
               http://juhanurmihxlp77nkq76byazcldy2hlmovfu2epvl5ankdibsot4csyd.onion/ <br> or subdomains:<br>
               http://abc.juhanurmihxlp77nkq76byazcldy2hlmovfu2epvl5ankdibsot4csyd.onion/
          {% endblocktrans %}
          <br> <br> <br>
          By adding it, you make your onion address temporarily public on this listing, waiting for the crawler to visit it:
          <a href="{% url 'onions-added' %}">List of added onions</a>
        </h3>
      </div>
    </div>

    <div class="aboutAhmia">
      <h3>For hidden service operators</h3>

      <p>
        Info about hidden service indexing and crawling :
        <a href="{% url 'doc-indexing' %}">Indexing</a>
      </p>

      <p>
        Ahmia blacklists child abuse content:
        <a href="{% url 'blacklist' %}">Blacklist</a>
      </p>
    </div>


    <div class="credits">
      <ul>
        <li><img src="/static/images/logos/globaleaks.png"
             alt="{% trans "Globaleaks Platform" %}">
        </li>
        <li><img src="/static/images/logos/tor2web.png"
             alt="{% trans "Tor2Web Platform" %}">
        </li>
        <li><img src="/static/images/logos/hermes.png"
             alt="{% trans "HERMES Center for Transparency and Digital Rights" %}">
        </li>
        <li><img src="/static/images/logos/torproject.png"
             alt="{% trans "Tor Project" %}">
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
