<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ahmia &mdash; Help Us to Help You</title>
  <meta name="description"
        content="A search engine for services accessible on the Tor network.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link title="Ahmia Search" type="application/opensearchdescription+xml" rel="search" href="/static/opensearch_html.xml">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/static/css/styles.css">

  <link rel="stylesheet"
    href="data:text/css;base64,QC1tb3otZG9jdW1lbnQgcmVnZXhwKCcoPyFodHRwcz86Ly9haG1pYVxcLmZpfGh0dHBzPzovL2xvY2FsaG9zdHxodHRwcz86Ly8xMjdcXC4wXFwuMFxcLjF8aHR0cDovL2p1aGFudXJtaS4qY3N5ZFxcLm9uaW9ufGh0dHA6Ly9tc3lkcXN0Lioya3plcmRnXFwub25pb24pLionKXtib2R5OmJlZm9yZXttYXJnaW4tbGVmdDoxMCU7bWFyZ2luLXRvcDoyMCU7bWFyZ2luLXJpZ2h0OjEwJTtjb2xvcjpyZWQ7Zm9udC1zaXplOjIwMCU7Y29udGVudDoiV2FybmluZzogWW91IGFyZSB1c2luZyBhIG1hbi1pbi10aGUtbWlkZGxlIGZha2UgY2xvbmUgc2l0ZSAtLSBWaXNpdCBodHRwczovL2FobWlhLmZpLyB0byBmaW5kIHJpZ2h0IG9uaW9uIGFkZHJlc3MuIjtkaXNwbGF5OmJsb2NrfWE6YmVmb3Jle2NvbG9yOnJlZDtjb250ZW50OiJbU0NBTV0gIn0jYWhtaWFNYWluQ29udGVudCwjaW1hZ2VPdmVybGF5e2Rpc3BsYXk6bm9uZX19I3dhcm5pbmd7ZGlzcGxheTpub25lfQ">
</head>
<body class="production ">
<div class="outer">
  <div id="content" class="inner">
    <div id="ahmiaHeader" class="maxi">
    <div class="maxiContent">
      <h1><a href="/">Ahmia</a></h1>
      <form id="searchForm" class="searchForm autocomplete" action="/search/" method="get">
        <input id="id_q" type="search" name="q" placeholder="Search Ahmia" value="">
        <input type="submit" value="Search" style="submitButton">
      </form>
    </div>
    </div>
    <div id="ahmiaResultsPage">
      <!-- Invisible default target -->
      <div id="default-target"></div>
      <div class="content">
        <ol class="searchResults">
          <li class="result" style="background: #09f609">
            <h4>
              <strong>{{ test_text.title_en }}</strong>
            </h4>
              <p><strong>{{ test_text.paragraph_en_1 }}</strong></p>
              <p><strong>{{ test_text.paragraph_en_2 }}</strong></p>
              <p>
                <a
                href="{% url 'onion-redirect' %}?search_term={{ query.query }}&label={{ test_text.test }}&redirect_url=https://www.redirectionprogram.com/">
                  <strong>redirectionprogram.com</strong>
                </a>
              </p>
              <p><strong>{{ test_text.paragraph_en_3 }}</strong></p>
              <p>
                <a
                href="{% url 'onion-redirect' %}?search_term={{ query.query }}&label={{ test_text.test }}&redirect_url=https://6wvybf7ub3xk5ow66wt7os3aovbzoo2eei6vjirvhvvkmqg4alnezzid.onion/sites/redirection/register">
                  <strong>6wvybf7ub3xk5ow66wt7os3aovbzoo2eei6vjirvhvvkmqg4alnezzid.onion</strong>
                </a>
              </p>
          </li>
          <li class="result" style="background: #6bfa6b">
            <h4>
              <strong>{{ test_text.title_es }}</strong>
            </h4>
              <p><strong>{{ test_text.paragraph_es_1 }}</strong></p>
              <p><strong>{{ test_text.paragraph_es_2 }}</strong></p>
              <p>
                <a
                href="{% url 'onion-redirect' %}?search_term={{ query.query }}&label={{ test_text.test }}&redirect_url=https://www.redirectionprogram.com/es/">
                  <strong>redirectionprogram.com/es</strong>
                </a>
              </p>
              <p><strong>{{ test_text.paragraph_es_3 }}</strong></p>
              <p>
                <a
                href="{% url 'onion-redirect' %}?search_term={{ query.query }}&label={{ test_text.test }}&redirect_url=https://6wvybf7ub3xk5ow66wt7os3aovbzoo2eei6vjirvhvvkmqg4alnezzid.onion/sites/redirection/register">
                  <strong>6wvybf7ub3xk5ow66wt7os3aovbzoo2eei6vjirvhvvkmqg4alnezzid.onion</strong>
                </a>
              </p>
          </li>
          <li class="result" style="background: #E0FFFF">
            <h4>
              <a
                href="{% url 'onion-redirect' %}?search_term={{ query.query }}&label={{ test_text.test }}&redirect_url=https://link.webropolsurveys.com/S/BB4A74DCF79654B2">
                Take Part in Survey | Help Us Understand Searching for Sexual Images of Children
              </a>
            </h4>
              <p>Have you searched for sexual images or videos of children? We want to hear from you. We are carrying out anonymous research to better understand these behaviours. Share your experiences to help us improve support.</p>
              <p>English | ελληνικά | Nederlands | Svenska | Deutsch | Español | Français | हिन्दी | Português | فارسی | Tamil | Japanese | Chinese Simplified | Chinese Traditional | Suomi | Українська | नेपाली | Italiano | Русский | Polski | Bosanski | Sȑpskī | Hrvatski | ٱلْعَرَبِيَّة</p>
              <p><strong>webropol.com</strong></p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
</body>
</html>
