{% extends "core.html" %}
{% load ahmia_custom %}
{% load static %}

{% block title %}Ahmia - Onion Websites Over Time{% endblock %}

{% block extra_js %}
<noscript>
  <p>Please enable JavaScript to view these statistics.</p>
</noscript>
<script type="text/javascript" src="{% static 'canvasjs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'onions_overtime.js' %}"></script>
{% endblock %}

{% block body %}
<h2>Tor2web stats Over Time</h2>

<p>
    Some Tor2web proxies share their visit statistics.
    Since June 2014, we have been gathering this information.
    As a result, we can present popularity stats.
    We only show those web sites which have more than 100 different active days through Tor2web.
    Select an address and study its popularity.
</p>

<div style="display: inline-block; width:235px;">
    <h3>Starts with a number</h3>
    <div id="select_onions_1" style="height: 100px; border:2px solid #ccc; overflow-y: scroll;"></div>
</div>
<div style="display: inline-block; width:235px; height: 100px;">
    <h3>a-h</h3>
    <div id="select_onions_2" style="height: 100px; border:2px solid #ccc; overflow-y: scroll;"></div>
</div>
<div style="display: inline-block; width:235px; height: 100px;">
    <h3>i-q</h3>
    <div id="select_onions_3" style="height: 100px; border:2px solid #ccc; overflow-y: scroll;"></div>
</div>
<div style="display: inline-block; width:235px; height: 100px;">
    <h3>r-z</h3>
    <div id="select_onions_4" style="height: 100px; border:2px solid #ccc; overflow-y: scroll;"></div>
</div>

<input type="button" class="uncheck" value="uncheck all" />

<div id="chartContainer" style="height: 400px; width: 960px;"></div>

{% endblock %}
