{% extends "core.html" %}
{% load i18n %}
{% load static %}

{% block title %}Ahmia - Statistics{% endblock %}
{% block body %}
    <div id="ahmiaAboutPage">
        <div class="aboutAhmia">
            <h3>Linking graph of onions in our database</h3>

            <p>
                <a href="{% url 'stats:link_graph' %}">Click here to visualize</a>
            </p>
            <br>

            <h3>Usage Statistic Plots</h3>

            <p>
                <a href="{% url 'stats:usage'%}">Click here to display</a>
            </p>
            <br>

            <h3>For hidden service operators</h3>

            <p>
                You can add your domains and sub-domains on Ahmia add page:
                <a href="{% url 'add' %}">Add</a>
            </p>

            <p>
                Info about hidden service indexing and crawling:
                <a href="{% url 'doc-indexing' %}">Indexing</a>
            </p>

            <p>
                Ahmia blacklists child abuse content:
                <a href="{% url 'blacklist' %}">Blacklist</a>
            </p>

        </div>
        <div class="credits">
            <p>
                {% trans "Bitcoin address" as donate_bitcoin %}
                {% blocktrans %}
                    We extend a thank you to Ahmia's supporters.
                    <a href="bitcoin:3LCFqc9NfMwNJA6TrudgHVdpfwxhn4JadY">
                      {{ donate_bitcoin }}
                    </a>.
                {% endblocktrans %}
            </p>
            <ul>
                <li><img src="/static/images/logos/globaleaks.png"
                         alt="{% trans "Globaleaks Platform" %}"></li>
                <li><img src="/static/images/logos/tor2web.png"
                         alt="{% trans "Tor2Web Platform" %}"></li>
                <li><img src="/static/images/logos/hermes.png"
                         alt="{% trans "HERMES Center for Transparency and Digital Rights" %}"></li>
                <li><img src="/static/images/logos/torproject.png"
                         alt="{% trans "Tor Project" %}"></li>
            </ul>
        </div>
    </div>

{% endblock %}
