{% extends "core.html" %}
{% load i18n %}

{% block title %}Ahmia - Documentation{% endblock %}

{% block body %}
  <div id="ahmiaAboutPage">
      <h1 align="center">Not Found</h1>
      <h3 align="center">Error 404 :( Sorry! </h3>

      <div class="credits">
        <ul>
          <li><img src="/static/images/logos/globaleaks.png"
                   alt="{% trans "Globaleaks Platform" %}"></li>
          <li><img src="/static/images/logos/tor2web.png"
                   alt="{% trans "Tor2Web Platform" %}"></li>
          <li><img src="/static/images/logos/hermes.png"
                   alt="{% trans "HERMES Center for Transparency and Digital Rights" %}"></li>
          <li><img src="/static/images/logos/torproject.png"
                   alt="{% trans "Tor Project" %}"></li>
        </ul>
      </div>
  </div>
{% endblock %}
