{% extends 'core.html' %}
{% load i18n %}
{% load ahmia_custom %}
{% load static %}

{% block title %}{% trans "Add a hidden service" %} &mdash; Ahmia{% endblock %}
{% block extra_js %}
  {% is_development_environment as is_dev %}
  {% if is_dev %}
    <script src="{% static 'js/add.js' %}"></script>
  {% else %}
    <script src="{% static 'add.signed.js' %}"></script>
  {% endif %}
{% endblock %}
{% block body %}
<div id="ahmiaAboutPage">
  <div id="ahmiaAddService">
  <p class="end">
    {% blocktrans %}
    Add your site to the Ahmia index to help us learn more about hidden services. Adding your
    onion will allow users of Ahmia to find your hidden service and its content. Please do not
    add child abuse material; it will not be indexed and your hidden service will be blacklisted.
    {% endblocktrans %}
  </p>
  <h3 class="checkForm">{% trans "Add your hidden service" %}</h3>
  <div id="ahmiaFormContainer">
    <form id="addOnion" method="post" action="">
      {{ form.onion }}<input type="url" name="onion">
      <input type="submit" value="{% trans "Add" %}">
    </form>
    {% if form.errors %}
      <div id="flashMessage" class="{% if flash_message %}server{% endif %}">
      {{ form.onion.errors }}
      </div>
    {% endif %}
  <h3 class="checkForm">{% trans "Example : http://msydqstlz2kzerdg.onion/ " %}</h3>
  </div>
</div>

<div class="credits">
  <p>
    {% trans "3CMc52oegWqorFsBRcakUGHkZEQMfLP43s" as bitcoin_address %}
    {% blocktrans %}
    We extend a thank you to Ahmia's supporters.
    Bitcoin address: <a href="bitcoin:3CMc52oegWqorFsBRcakUGHkZEQMfLP43s">{{ bitcoin_address }}</a>.</p>
    {% endblocktrans %}
  </p>
  <ul>
    <li><img src="/static/images/logos/globaleaks.png" alt="{% trans "Globaleaks Platform" %}"></li>
    <li><img src="/static/images/logos/tor2web.png" alt="{% trans "Tor2Web Platform" %}"></li>
    <li><img src="/static/images/logos/hermes.png" alt="{% trans "HERMES Center for Transparency and Digital Rights" %}"></li>
    <li><img src="/static/images/logos/torproject.png" alt="{% trans "Tor Project" %}"></li>
  </ul>
  </div>
</div>
{% endblock %}
