{% extends "core.html" %}
{% load static %}
{% load i18n %}

{% block title %}Ahmia - Description Linked Data Proposal{% endblock %}

{% block body %}
<div id="ahmiaAboutPage">
  <div class="aboutAhmia">
<h2>Description Linked Data Proposal to WWW Servers Inside Tor</h2>
<p>
  This proposal is to all HTTP servers inside Tor network.
</p>
<p>
  <strong>The problem:</strong>
  We are wondering how we could get authenticated hidden service descriptions. That is, descriptions of hidden services that are provided by the hidden service operator themselves. We would like to show these official descriptions in ahmia.fi search.
</p>
<p>
  <strong>The solution proposal:</strong>
  Simple linked description datasheets provided by the hidden services.
</p>
<p>
  <strong>How to do this:</strong>
  Simply provide a linked description file in your hidden service web page. You can write your information to this <a href="{% url 'doc-desc-proposal' %}">form</a> and use the generated JSON file. Please make sure that your JSON description is valid
  JSON. You could then provide JSON information of your hidden service in this way
  <strong class="color9">http://something.onion/description.json</strong>
  and anyone could find this file.
</p>

<strong>Example JSON (DuckDuckGo):</strong>
<br />

<pre class="precode">
<code id="json">
{
    "title": "DuckDuckGo",
    "description": "DuckDuckGo is a search engine that is based in Valley Forge, Pennsylvania and uses information from crowd-sourced sites (like Wikipedia) with the aim of augmenting traditional results and improving relevance. The search engine philosophy emphasizes privacy and does not record user information.",
    "relation": "http://duckduckgo.com/",
    "keywords": "search engine, privacy, no tracking, DuckDuckGo",
    "type": "search engine",
    "language": "en",
    "contactInformation": "http://help.duckduckgo.com/customer/portal/emails/new"
}
</code>
</pre>

<p>
  You can download and study the example <a href="{% static '3g2upl4pq6kufc4m.json' %}">JSON file</a>.
</p>
</div>
 <div class="aboutAhmia">
<strong>Help us</strong>
<p>
  Please tell us your opinion about this. We are considering this as a simple method for getting official description information from the hidden services. We will show these in our page. <a href="/address">See here.</a>
</p>
</div>
<div class="credits">
    <p>
      {% trans "donate Bitcoin" as donate_bitcoin %}
      {% blocktrans %}
      We extend a thank you to Ahmia's supporters.
      If you believe in Ahmia, please <a href="bitcoin:3CMc52oegWqorFsBRcakUGHkZEQMfLP43s">{{ donate_bitcoin }}</a>.
      {% endblocktrans %}
    </p>
    <ul>
      <li><img src="/static/images/logos/globaleaks.png" alt="{% trans "Globaleaks Platform" %}"></li>
      <li><img src="/static/images/logos/tor2web.png" alt="{% trans "Tor2Web Platform" %}"></li>
      <li><img src="/static/images/logos/hermes.png" alt="{% trans "HERMES Center for Transparency and Digital Rights" %}"></li>
      <li><img src="/static/images/logos/torproject.png" alt="{% trans "Tor Project" %}"></li>
    </ul>
  </div>
</div>
{% endblock %}
