{% extends 'core.html' %}
{% load i18n %}

{% load static %}
{% block title %}Ahmia - Documentation {% endblock %}
{% block body %}
    <div id="ahmiaAboutPage">
        <h1>Documentation</h1>
        <div class="moreOnAhmia">
            <p>
                The source code of Ahmia is open source and available on Github <a href="//github.com/ahmia">
                <img src="/static/images/logos/github.png" alt="Github link" class="github_doc"></a>
            </p>
            <p>
                You are free to build your own index and crawler.
            </p>
            <p>
                The source code is mainly divided into three parts:
            </p>
            <ul>
                <li><a href="//github.com/ahmia/ahmia-index">{% trans "ahmia-index" %}</a><br>Elasticsearch index</li>
                <li><a href="//github.com/ahmia/ahmia-crawler">{% trans "ahmia-crawler" %}</a><br>Onion crawler</li>
                <li><a href="//github.com/ahmia/ahmia-site">{% trans "ahmia-site" %}</a><br>The search website</li>
            </ul>
        </div>
        <div class="aboutAhmia">
            <h3>Visualizations</h3>
            <p>
                Linking structure : <a href="/stats/link_graph">https://ahmia.fi/stats/link_graph/</a>
            </p>
        </div>
        <div class="aboutAhmia">
            <h3>Onion information</h3>

            <p>
                All banned onion services: <a href="/banned/">https://ahmia.fi/banned/</a>.
            </p>

            <p>
                All known non-banned onion domains: <a href="/onions/">https://ahmia.fi/onions/</a>
            </p>

            <p>
                For filter requests of onions: <a href="https://ahmia.fi/address/">https://ahmia.fi/address/</a>
            </p>

        </div>
        <div class="aboutAhmia">
            <h3>For hidden service operators</h3>

            <p>
                Add onion domains and sub-domains for indexing: <a href="{% url 'add' %}">  Add</a>
            </p>

            <p>
                Onion service indexing and crawling: <a href="{% url 'doc-indexing' %}">Indexing</a>
            </p>

            <p>
                Child sexual abuse material blocklist: <a href="/blacklist/">Blocklist</a>
            </p>

        </div>
    </div>
{% endblock %}
