{% extends "base.html" %}

{% block title %}Ahmia - Hidden service {{ description.about.id }}{% endblock %}

{% block content %}

<a href="/add/" class="button-add right">Add new onion domain</a>
{% if description and not description.about.banned %}
<h2><a href='{{ description.about.url }}'>{{ description.about.id }}.onion{% if description.title %} - {{ description.title }} {% endif %}</a></h2>
<div id='wrap'>
  <ul id='list' class='steps'>
    <li>
      {% if description.title %}
      <h3><a href='{{ description.about.url }}'>{{ description.title }}</a></h3>{% endif %}
      <p class='links'>
        Proxy link:
        <a href='https://{{ description.about.id }}.tor2web.fi'>https://{{ description.about.id }}.tor2web.fi</a> {% if description.relation %}
        <br />Optional domain:
        <a href='{{ site.relation  }}'>{{ description.relation }}</a>
        {% endif %}
      </p>
      <div class='infotext'>
        {% if not description.title and not description.description %}
        <br />
        <p class="editNotice">Please help us and fill information about this website! Click edit description button below!</p>
        <br />
        <br />{% endif %} {% if description.description %}<b>Description: </b>{{ description.description }}
        <br />{% endif %} {% if description.subject %}<b>Keywords: </b>{{ description.subject }}
        <br />{% endif %} {% if description.type %}<b>Type: </b>{{ description.type }}
        <br />{% endif %} {% if description.officialInfo %} {% if description.language %}<b>Language: </b>{{ description.language }}
        <br />{% endif %} {% if description.contactInformation %}<b>Contact info: </b>{{ description.contactInformation }}
        <br />{% endif %} {% else %}
        <b>Edited: </b>{{ description.updated }} <a style='color:green' href='/address/{{ description.about.id  }}/edit/'>Edit description.</a> {% endif %}
      </div>
    </li>
    {% else %}
    <div id='wrap'>
      <ul id='list' class='steps'>
        <li>
          <h3>{{ onion }}</h3>
          <div class='infotext'>
            There is no {{ onion }} in the database. If this domain exists please add it to our index.
          </div>
        </li>
        {% endif %}
      </ul>

      <div id="pagescreenshot"></div>

      <script type="text/javascript">
        //<![CDATA[

        try {
          var img = $("<img />")
            .attr('src', '/static/screenshots/{{ description.about.id }}.png')
            .attr('class', 'screenshot')
            .load(function() {
              if (status != "error" && this.complete && typeof this.naturalWidth != "undefined" && this.naturalWidth > 0) {
                $("#pagescreenshot").append(img);
              }
            });
        } catch (err) {
          //
        }

         //]]>
      </script>

    </div>

{% endblock %}
