{% extends "core.html" %}
{% load i18n %}

{% block title %}Ahmia - Documentation{% endblock %}
{% block body %}
<div id="ahmiaAboutPage">
  <div class="aboutAhmia">
    <h1>Documentation</h1>
    <h2>Indexing and crawling</h2>
    <p>Ahmia is mainly divided into three parts. Codes for these parts are open source and available on Github. You can click on respective links to access them.
      <p>
        <ul>
          <li><a href="//github.com/ahmia/ahmia-index">Index</a> : It refers to the data that Ahmia has collected. We use <a href="https://www.elastic.co/products/elasticsearch"> Elascticsearch </a> to maintain this data.</li>
          <li><a href="//github.com/ahmia/ahmia-crawler">Crawler</a> : It is the part that crawls onions on the Tor network and feed it to the index. <a href="https://scrapy.org/"> Scrapy </a> is one of the crawlers that we use.</li>
          <li><a href="//github.com/ahmia/ahmia-site">Site</a> : It is the backbone of Ahmia that includes the design of the website and makes the search engine work.</li>
        </ul>

        <p>Ahmia collects a list of known .onion sites, information about these sites and saves it to its database. Collected data is filtered to remove child abuse content (Refer :<a href="/blacklist"> {% trans "Blacklist" %} </a>).</p>
        <p>Once data is filtered, it is available for search at Ahmia. </p>
  </div>
  <div class="aboutAhmia">
    <h2>Robots.txt</h2>

    <p>
      We are honouring robots.txt files. This means that you can prevent our crawler from indexing your page by using robots.txt rules. This way your page is not shown in the search results. On the other hand, your page still shows in the list of all known
      hidden services that are online.
    </p>
    <p>
      Check <a href="//www.robotstxt.org/robotstxt.html">robotstxt.org</a> for details to create robots.txt.
    </p>
  </div>
  <div class="credits">
    <p>
      {% trans "3CMc52oegWqorFsBRcakUGHkZEQMfLP43s" as bitcoin_address %} {% blocktrans %} We extend a thank you to Ahmia's supporters. Bitcoin address: <a href="bitcoin:3CMc52oegWqorFsBRcakUGHkZEQMfLP43s">{{ bitcoin_address }}</a>.</p>
    {% endblocktrans %}
    </p>
    <ul>
      <li><img src="/static/images/logos/globaleaks.png" alt="{% trans " Globaleaks Platform " %}"></li>
      <li><img src="/static/images/logos/tor2web.png" alt="{% trans " Tor2Web Platform " %}"></li>
      <li><img src="/static/images/logos/hermes.png" alt="{% trans " HERMES Center for Transparency and Digital Rights " %}"></li>
      <li><img src="/static/images/logos/torproject.png" alt="{% trans " Tor Project " %}"></li>
    </ul>
  </div>
</div>
{% endblock %}
