{% extends 'core.html' %}
{% load i18n %}
{% load static %}

{% block navtype %}mini{% endblock %}

{% block searchbar %}
{% endblock %}

{% block body_class %}main{% endblock %}

{% block precontent %}
  <div id="imageOverlay">&nbsp;</div>
{% endblock %}

{% block body %}
<div id="ahmiaMainContent">
  <div id="ahmiaSearchArea">
    <img src="{% static 'images/ahmiafi_black.png' %}" alt="Ahmia" style="opacity: 0.2;">
    <h1>Ahmia</h1>
    <form id="searchForm" class="autocomplete" action="{% url 'search:results' %}" method="get">
      <input id="id_q" type="search" name="q">
      <input type="submit" value="{% trans "Search" %}" style="submitButton">
    </form>
  </div>

  <div id="ahmiaDescriptionArea">
    {% trans "Tor browser bundle" as tor_browser_bundle %}
    {% trans "report abuse material" as report_abuse_material %}
    {% trans "service blacklist" as service_blacklist %}

    <p>
    {% blocktrans %}
      Ahmia searches hidden services on the Tor network. To access these hidden services, you need
      the <a href="https://www.torproject.org/projects/torbrowser.html">{{ tor_browser_bundle }}</a>.
      Abuse material is not allowed on Ahmia. See our <a href="{% endblocktrans %}{% url 'blacklist' %}{% blocktrans %}">{{ service_blacklist }}</a> and
      report abuse material if you find it in the index. It will be removed as soon as possible.
    {% endblocktrans %}
    </p>

    {% trans "indexing information" as indexing_info %}
    {% trans "contribute to the source code" as contribute_to_source %}
    <p>
    {% blocktrans %}
      For more about Ahmia, see <a href="{% endblocktrans %}{% url 'doc-indexing' %}{% blocktrans %}">{{ indexing_info }}</a>,
      <a href="https://github.com/ahmia/search">{{contribute_to_source}}</a>.
      <br /> Bitcoin address: 3CMc52oegWqorFsBRcakUGHkZEQMfLP43s
      <br /> Onion service: <a href="http://msydqstlz2kzerdg.onion/">msydqstlz2kzerdg.onion</a>
    {% endblocktrans %}
    </p>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#id_q').focus();
  });
</script>
{% endblock %}
