{% extends 'index_tor.html' %}
{% load i18n %}

{% block body %}
  <div id="ahmiaMainContent">
    <div id="ahmiaSearchArea">
      <h1>Ahmia</h1>
      <h2>i2p network search</h2>
      <form id="searchForm" class="autocomplete" action="/search/i2p/" method="get">
        <input id="id_q" type="search" name="q" title="q">
        <input type="submit" value="{% trans "Search" %}">
      </form>
    </div>

    <div id="ahmiaDescriptionArea">
      {% trans "Tor browser bundle" as tor_browser_bundle %}
      {% trans "report abuse material" as report_abuse_material %}
      {% trans "service blacklist" as service_blacklist %}

      {% trans "indexing information" as indexing_info %}
      {% trans "contribute to the source code" as contribute_to_source %}
      <p>
        {% blocktrans %}
          For more about Ahmia, see
          <a href="{% endblocktrans %}{% url 'doc-indexing' %}{% blocktrans %}">
            {{ indexing_info }}
          </a>,
          <a href="https://github.com/ahmia/ahmia-site">{{ contribute_to_source }}.
          <br/> <a href="https://donate.torproject.org/pdr">The Tor Project</a>
          <br/> Onion service:
          <a href="http://juhanurmihxlp77nkq76byazcldy2hlmovfu2epvl5ankdibsot4csyd.onion/">juhanurmihxlp77nkq76byazcldy2hlmovfu2epvl5ankdibsot4csyd.onion</a>
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
