{% extends 'core.html' %}
{% load i18n %}
{% block title %}{% trans "Legal Disclaimer" %} &mdash; Ahmia{% endblock %}
{% block body %}
  <div id="ahmiaDisclaimer">
    <p>
      <strong>{% trans "Ahmia content warning" %}:</strong>
      {% blocktrans %}
        The indexed sites are running inside the Tor network and Ahmia.fi is not responsible for them.
        The administrator of this site (Ahmia.fi) cannot be held responsible for any actions of its users.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Beware when accessing Tor content" %}</h3>
    <p class="end">
      {% blocktrans %}
        We cannot guarantee the validity of the information found here.
        We do not have anything to do with the actual Tor onion services.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Contact and reporting child abuse" %}</h3>
    <p class="end">
      {% blocktrans %}
        This site is fully compliant with the Law of Finland. The administrator is removing any links to child abuse content.

        Please 1. email us the exact URL of the content you suspect to be child abuse,
        and 2. <a href="https://www.pelastakaalapset.fi/en/our-work-in-finland/child-protection-and-finnish-hotline/report-illegal-content/">report anonymously through Save the Children Finland</a>.
      {% endblocktrans %}
    </p>
    <p class="end">
      If a site user tries to search child abuse material the Ahmia.fi is not showing search results normally.
      Instead, the search offers a link to Self-help Program.

      The self-help program is primarily intended for people who are worried about their interest, thoughts, feelings or actions concerning children.

      If the search contains terms which are only used for searching abusive material then Ahmia.fi refuses to show the results.

      For example, &bdquo;jailbait&ldquo; is one of these filtered terms. As a result, Ahmia.fi is offering a link to self-help program:
      <a href="https://ahmia.fi/search/?q=jailbait">https://ahmia.fi/search/?q=jailbait</a>

      In addition, Ahmia applies automated text mining algorithm to remove possible links to child abuse from the search results.
    </p>
    <h3>Filtering of all sexual searchers</h3>
    <p class="end">
      There is now a filtering of all sexual related searchers.
      This is because there are so many abusive websites.
      Using text-based classifiers, it is impossible to automatically filter out all child abuse websites.
      As a result, all sexually explicit searches are filtered.
    </p>
    <p>
      {% blocktrans %}
        Please contact Juha Nurmi, Ahmia Project Leader,
        at <a href="mailto:juha.nurmi@ahmia.fi">juha.nurmi@ahmia.fi</a>.
      {% endblocktrans %}
    </p>
  </div>

{% endblock %}
