{% extends 'core.html' %}
{% load i18n %}
{% block title %}{% trans "Legal Disclaimer" %} &mdash; Ahmia{% endblock %}
{% block body %}
  <div id="ahmiaDisclaimer">
    <p>
      <strong>{% trans "Ahmia content warning" %}:</strong>
      {% blocktrans %}
        The indexed sites are running inside the Tor network and ahmia.fi
        is not responsible for them. The administrator of this site
        (ahmia.fi) cannot be held responsible for any actions of its users.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Beware when accessing Tor content %}</h3>
    <p class="end">
      {% blocktrans %}
        We cannot guarantee the validity of the information found here.
        We do not have anything to do with the actual Tor onion services.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Contact and reporting illegal content" %}</h3>
    <p class="end">
      {% blocktrans %}
        This site is fully compliant with the Law of Finland. The
        administrator is removing any illegal content and is working
        according to the Finnish law. Please email us and provide exact
        URL of the content you suspect to be illegal.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        For administrative purposes, please contact Juha Nurmi, Ahmia Project
        Leader, at <a href="mailto:juha.nurmi@ahmia.fi">juha.nurmi@ahmia.fi</a>.
      {% endblocktrans %}
    </p>
  </div>

{% endblock %}
