{% extends 'base.html' %}

{% load highlight %}

{% block content %}

    <div id="search">
        <form id="searchForm" class="autocomplete-me" method="get" action=".">
        {{ form }}
            <input style="margin-left: 5px; position: absolute;" class="input-add" type="submit" value="Search">
        </form>
    </div>

    <br style="clear: left;">

        {% if query %}
            <h3>Results</h3>
            <ul class="steps">
                {% for group in page.object_list %}
                    {% if group %}
                      <li style="background: #F2F2D0;"><b>Results from </b><a href="/redirect?redirect_url={{ group.documents.0.domain }}">{{ group.documents.0.domain }}</a>
                      <br />
                        {% for result in group.documents %}
                        <ul id='list' class='steps'>
                            <li class="hs_site">
                                <h3><a href="/redirect?redirect_url={{ result.url }}">{{ result.title }}</a></h3>
                                <p class="links">Access without Tor Browser: <a href="/redirect?redirect_url={{ result.tor2web_url }}">{{ result.tor2web_url }}</a></p>
                                {% if result.text %}
                                <div class="infotext">
                                    {% highlight result.text with query %}
                                </div>
                                {% endif %}
                                <p class="urlinfo">{{ result.date_inserted }}</p>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                {% endif %}
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            </ul>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}

        {% endif %}

{% endblock %}
