{% extends 'base.html' %}

{% load highlight %}

{% block content %}

    <div id="search">
        <form id="searchForm" class="autocomplete-me" method="get" action=".">
        {{ form }}
            <input style="margin-left: 5px; position: absolute;" class="input-add" type="submit" value="Search">
        </form>
    </div>

    <br style="clear: left;">

        {% if query %}
            <h3>Results</h3>

            <ul id='list' class='steps'>

            {% for result in page.object_list %}
                {% if result %}
                <li class="hs_site">
                    <h3><a href="/redirect?redirect_url={{ result.url }}">{{ result.title }}</a></h3>
                    <p class="links">Access without Tor Browser: <a href="/redirect?redirect_url={{ result.tor2web_url }}">{{ result.tor2web_url }}</a></p>
                    {% if result.text %}
                    <div class="infotext">
                            {% highlight result.text with query %}
                    </div>
                    {% endif %}
                    <p class="urlinfo">{{ result.date_inserted }}</p>
                </li>
                {% endif %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            </ul>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}


  <script type="text/javascript">
    // In a perfect world, this would be its own library file that got included
    // on the page and only the ``$(document).ready(...)`` below would be present.
    // But this is an example.
    /*
    var Autocomplete = function(options) {
      this.form_selector = options.form_selector
      this.url = options.url || '/search/autocomplete/'
      this.delay = parseInt(options.delay || 300)
      this.minimum_length = parseInt(options.minimum_length || 3)
      this.form_elem = null
      this.query_box = null
    }

    Autocomplete.prototype.setup = function() {
      var self = this

      this.form_elem = $(this.form_selector)

      this.query_box = this.form_elem.find('input[name=q]')

      // Watch the input box.
      this.query_box.on('keyup', function() {
        var query = self.query_box.val()

        if(query.length < self.minimum_length) {
          return false
        }

        self.fetch(query)
      })

      // On selecting a result, populate the search field.
      this.form_elem.on('click', '.ac-result', function(ev) {
        self.query_box.val($(this).text())
        $('.ac-results').remove()
        return false
      })
    }

    Autocomplete.prototype.fetch = function(query) {
      var self = this

      $.ajax({
        url: this.url
      , data: {
          'q': query
        }
      , success: function(data) {
          self.show_results(data)
        }
      })
    }

    Autocomplete.prototype.show_results = function(data) {
      // Remove any existing results.
      $('.ac-results').remove()

      var results = data.results || []
      var results_wrapper = $('<div class="ac-results"></div>')
      var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

      if(results.length > 0) {
        for(var res_offset in results) {
          var elem = base_elem.clone()
          // Don't use .html(...) here, as you open yourself to XSS.
          // Really, you should use some form of templating.
          elem.find('.ac-result').text(results[res_offset])
          results_wrapper.append(elem)
        }
      }
      else {
        var elem = base_elem.clone()
        elem.text("No results found.")
        results_wrapper.append(elem)
      }

      this.query_box.after(results_wrapper)
    }

    $(document).ready(function() {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete-me'
      })

      window.autocomplete.setup()
    })
    */
  </script>



{% endblock %}
