{% extends "base.html" %}

{% block title %}About us{% endblock %}

{% block content %}

<h2>About us</h2>

<p>
Our mission is to create a working search engine for indexing, searching and cataloguing content present on the <a href="https://www.torproject.org/">Tor network</a>. Furthermore, we are creating an environment to share meaningful statistics, insights and news about the Tor network itself. Striving to support the Tor project, we are running exit nodes and tor2web nodes (tor2web.fi). 
</p>

<p>
We believe that the Tor network is an important, anonymous, resilient, censorship-resistant and distributed platform that can provide easy-to-implement anonymity to websites and other web services. Servers configured to receive inbound connections through Tor are called hidden services: rather than revealing a server's real IP address, an hidden service is accessed through the Tor network by mean of a peculiar anonymous identifier that is called "onion address". Ahmia group believes that developing a functional search engine for indexing these hidden services, otherwise not available to users, is very important to the entire Tor network, enabling the diffusion and use of anonymous resources.
</p>

<p>
In a costant effort to better integrate with the Tor ecosystem, we have integrated our search engine core technology with <a href="https://globaleaks.org/">GlobaLeaks</a> (to handle submissions and suggestions) and with <a href="http://wiki.tor2web.org/index.php/Main_Page">Tor2web</a> (for hidden services discovery).
</p>

<p>
Since September 2013 our group has joined the <a href="http://logioshermes.org/">Hermes Center for Transparency and Digital Human Rights</a>, an organizations devoted to develop and promote Transparency and Freedom-Enabling Technologies.
</p>

<h3>Further reading</h3>

<ul>
 <li><a href="/documentation">APIs and documentation</a></li>
 <li><a href="/static/presentation/">Ahmia's OHM2013 presentation</a></li>
</ul>
  
<div id="syndicate">
  
  <a href="https://globaleaks.org/"><img class="logos" src="/static/images/globaleaks.png" alt="Globaleaks" /></a>
  
  <a href="http://wiki.tor2web.org/index.php/Main_Page"><img class="logos" src="/static/images/tor2web.png" alt="Tor2web" /></a>
  
  <a href="http://logioshermes.org/"><img class="logos" src="/static/images/hermes.png" alt="Hermes" /></a>  
  
  <a href="https://www.torproject.org/"><img class="logos" src="/static/images/tor-logo.png" alt="Tor project" /></a>  
  
</div>

{% endblock %}
