{% extends 'core.html' %}
{% load i18n %}
{% load ahmia_custom %}
{% block title %}{% trans "Hidden Service Blacklist" %} &mdash; Ahmia{% endblock %}
{% block extra_js %}
  {% is_development_environment as is_dev %}
  {% if is_dev %}
    <script src="/static/js/blacklist.js"></script>
    <script src="/static/js/md5.js"></script>
  {% else %}
    <script src="/static/blacklist.signed.js"></script>
  {% endif %}
{% endblock %}
{% block body %}
{% include 'partial/nav.html' with nav_type='maxi' %}

<div id="ahmiaBlacklist">
  <p>
  {% if success %}
    {% blocktrans %}
    Your abuse report for <code>{{ onion }}</code> was successfully submitted. Thank
    you for helping to keep Ahmia free of child abuse material. A moderator will remove
    this from the index shortly.
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
    Your abuse report for <code>{{ onion }}</code> did not go through successfully. Please
    email <a href="mailto:hostmaster@ahmia.fi">hostmaster at ahmia.fi</a> the URL of this
    hidden service if you continue to receive this message.
    {% endblocktrans %}
  {% endif %}
  </p>
</div>
{% endblock %}
