{% load i18n %}
{% load ahmia_custom %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{% block title %}Ahmia &mdash; {% trans "Search Tor Hidden Services" %}{% endblock %}</title>
      <meta name="description" content="{% trans "A search engine for services accessible on the Tor network." %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="/static/js/jquery.min.js"></script>
      <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="/static/css/normalize.css">
      <link rel="stylesheet/less" href="/static/less/style.less">
      <script src="/static/js/less.min.js"></script>
      <script src="/static/js/modernizr.js"></script>
      <link rel="stylesheet" href="data:text/css;base64,QC1tb3otZG9jdW1lbnQgcmVnZXhwKCcoPyFodHRwcz86Ly9haG1pYVxcLmZpfGh0dHBzPzovL2xvY2FsaG9zdHxodHRwcz86Ly8xMjdcXC4wXFwuMFxcLjF8aHR0cDovL21zeWRxc3QuKjJremVyZGdcXC5vbmlvbikuKicpe2JvZHk6YmVmb3Jle21hcmdpbi1sZWZ0OjEwJTttYXJnaW4tdG9wOjIwJTttYXJnaW4tcmlnaHQ6MTAlO2NvbG9yOnJlZDtmb250LXNpemU6MjAwJTtjb250ZW50OiJXYXJuaW5nOiBZb3UgYXJlIHVzaW5nIGEgbWFuLWluLXRoZS1taWRkbGUgZmFrZSBjbG9uZSBzaXRlIC0tIFZpc2l0IGh0dHBzOi8vYWhtaWEuZmkvIHRvIGZpbmQgcmlnaHQgb25pb24gYWRkcmVzcy4iO2Rpc3BsYXk6YmxvY2t9YTpiZWZvcmV7Y29sb3I6cmVkO2NvbnRlbnQ6IltTQ0FNXSAifSNhaG1pYU1haW5Db250ZW50LCNpbWFnZU92ZXJsYXl7ZGlzcGxheTpub25lfX0jd2FybmluZ3tkaXNwbGF5Om5vbmV9">
  </head>
  <body class="{% get_environment %} {% block body_class %}{% endblock %}">
    {% block precontent %}{% endblock %}
    <div class="outer">
      <div id="content" class="inner">
        {% block body %}{% endblock %}
        <div id="warning" style="background-color: black; font-size: 200%; color: red; position: fixed; top: 5%; left: 30%;">
          A man-in-the-middle fake clone detected! <br />
          Warning! <br />
          Right onion address starts with msydq and ends with zerdg.onion. <br />
          Find real address from ahmia.fi
        </div>
      </div>
    </div>
    <script src="/static/js/jquery.scrollTo.js"></script>
    <script src="/static/js/jquery.pow.js"></script>
    <script src="/static/js/sha256.js"></script>
    <script src="/static/js/utils.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
