{% extends "base.html" %}

{% block title %}Hidden service list{% endblock %}

{% block content %}
 <a href="/add/" class="button-add right">Add new onion domain</a>
 <h2>Onion domain list</h2>
 <noscript><p>WE DO NOT WANT TO HAVE ANY LOGS. ENABLE JAVASCRIPT (CLIENT SIDE).</p></noscript>
 <script type="text/javascript" src="/static/js/search.js"></script>
 <div id="search"></div>
  <div id='wrap'>
   <ul id='list' class='steps'>
{% for site in description_list %}
  {% if not site.about.banned and site.about.online %}
   {% if site.about.id == "silkroadvb5piz3r" %}
      <li style="background-color:#99FF66;" class="hs_site clickable_pointer" onclick="window.location='/address/{{ site.about.id  }}'">
       <h3><a href="{{ site.about.url }}">{{ site.about.id }}</a> - This was the Silk Road - Closed by FBI</h3>
   {% else %}
      <li class="hs_site clickable_pointer" onclick="window.location='/address/{{ site.about.id  }}'">
       <h3><a href="{{ site.about.url }}">{{ site.about.id }}</a>{% if site.title %} - {{ site.title }} {% endif %}</h3>
   {% endif %}
       <p class='links'>
         Proxy link:
         <a href='https://{{ site.about.id }}.tor2web.fi'>https://{{ site.about.id }}.tor2web.fi</a>
	{% if site.relation %}
         <br />
         Optional domain:
         <a href='{{ site.relation  }}'>{{ site.relation }}</a>
	{% endif %}
       </p>
       <div class='infotext'>
        {% if site.description %}<b>Description: </b>{{ site.description }}<br />{% endif %}
        {% if site.subject %}<b>Keywords: </b>{{ site.subject }}<br />{% endif %}
        {% if site.type %}<b>Type: </b>{{ site.type }}<br />{% endif %}
        {% if site.officialInfo %}
                {% if site.language %}<b>Language: </b>{{ site.language }}<br />{% endif %}
                {% if site.contactInformation %}<b>Contact info: </b>{{ site.contactInformation }}<br />{% endif %}
		<a href="/documentation/descriptionProposal/"><strong class="color10">Description downloaded directly from the hidden service.</strong></a>
        {% else %}
		<b>Edited: </b>{{ site.updated }} <a style='color:green' href='/address/{{ site.about.id  }}/edit/'>Edit description.</a>
        {% endif %}
       </div>
      </li>
  {% endif %}
{% endfor %}
   </ul>
  </div>
  <strong id="totalresults" class="color12" style="text-align:center;"></strong> sites matches to the search
{% endblock %}

