{% extends "base.html" %}

{% block title %}Ahmia - Hidden service list{% endblock %}

{% block content %}

<script type="text/javascript">
  function abuse_notice(id) {
    var question = "Have you really checked that there are pictures of child abuse hosted in this " + id + ".onion domain? If you have, please answer to the security question: How much is 2+3?"
    var answer = prompt(question, "answer the number here");
    if (parseInt(answer) != 5) {
      return false;
    }

    var url = "/address/" + id;
    var note_id = "#note_" + id;
    var button_id = "#button_" + id;
    var question = "Please enter the reason for this notice."
    var example = "e.g. there are abusive pictures."
    var reason = prompt(question, example);
    if (!reason) {
      return false;
    }

    var json_data = '{ "url": "http://' + id + '.onion/", "abuse_note": "' + reason + '"}'
    $.ajax({
      url: url,
      type: 'PUT',
      contentType: 'application/json',
      data: json_data,
      success: function(result) {
        $(button_id).hide();
        $(note_id).show();
      }
    });
  }
</script>

<a href="/add/" class="button-add right">Add new onion domain</a>
<h2>Onion domain list</h2>
<noscript>
  <p>ENABLE JAVASCRIPT (CLIENT SIDE).</p>
</noscript>
<script type="text/javascript" src="/static/js/search.js"></script>
<div id="search"></div>
<div id='wrap'>
  <ul id='list' class='steps'>
    {% for site in description_list %} {% with about=site.about hs_id=site.about.id %} {% if not about.banned and about.online %}
    <li class="hs_site clickable_pointer">
      <div onclick="window.location='/address/{{ hs_id  }}'">
        <h3><a href="{{ about.url }}">{{ hs_id }}.onion</a>{% if site.title %} - {{ site.title }} {% endif %}</h3>
        <p class='links'>
          Proxy link:
          <a href='https://{{ hs_id }}.tor2web.fi'>https://{{ hs_id }}.tor2web.fi</a>
          {% if site.relation %}
          <br />Optional domain:
          <a href='{{ site.relation  }}'>{{ site.relation }}</a>
          {% endif %}
        </p>
        <div class='infotext'>
          {% if site.description %}<b>Description: </b>{{ site.description }}
          <br />{% endif %} {% if site.subject %}<b>Keywords: </b>{{ site.subject }}
          <br />{% endif %} {% if site.type %}<b>Type: </b>{{ site.type }}
          <br />{% endif %} {% if site.officialInfo %} {% if site.language %}<b>Language: </b>{{ site.language }}
          <br />{% endif %} {% if site.contactInformation %}<b>Contact info: </b>{{ site.contactInformation }}
          <br />{% endif %}
          <a href="/documentation/descriptionProposal/"><strong class="color10">Description downloaded directly from the hidden service.</strong></a>
          {% else %}
          <b>Edited: </b>{{ site.updated }} <a style='color:green' href='/address/{{ hs_id  }}/edit/'>Edit description.</a>
          {% endif %}
          <strong style="display: none;" id="note_{{ hs_id }}" class="color1">Thank you for the information. We will look it.</strong>
        </div>
      </div>
      <button id="button_{{ hs_id }}" type="button" onclick="abuse_notice('{{ hs_id }}');">Send a note that this site should be filtered.</button>
    </li>
    {% endif %} {% endwith %} {% endfor %}
  </ul>
</div>
<strong id="totalresults" class="color12" style="text-align:center;"></strong> sites matches to the search

{% endblock %}
