{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block content %}

<h2>Indexing and crawling</h2>

<p>We are using YaCy crawler software to build the full text search.</p>

<p>Furthermore, we are gathering a list of known .onion sites and information about the sites. We try in the following order fill as much as much information about the sites:</p>

<ol>
  <li>Downloading <a href="/documentation/descriptionProposal/">the official /description.json</a></li>
  <li>Parse information from the HTML of the site</li>
  <li>Let the users wrote the information</li>
</ol>

<h3>Robots.txt</h3>

<p>
We are honouring robots.txt files. This means that you can prevent our crawler from indexing your page by using robots.txt rules.
This way your page is not shown in the search results. On the other hand, your page still shows in the list of all known hidden services that are online.
</p>

{% endblock %}
