{% extends 'core.html' %}
{% load i18n %}

{% block body_class %}main{% endblock %}

{% block precontent %}
  <div id="imageOverlay">&nbsp;</div>
{% endblock %}

{% block body %}
{% include 'partial/nav_tor.html' with nav_type='mini' %}
<div id="ahmiaMainContent">
  <div id="ahmiaSearchArea">
    <h1>Ahmia</h1>
    <form id="searchForm" class="autocomplete" action="/search" method="get">
      <input id="id_q" type="search" name="q">
      <input type="submit" value="{% trans "Search" %}" style="submitButton">
    </form>
  </div>

  <div id="ahmiaDescriptionArea">
    {% trans "Tor browser bundle" as tor_browser_bundle %}
    {% trans "report abuse material" as report_abuse_material %}
    {% trans "service blacklist" as service_blacklist %}

    <p>
    {% blocktrans %}
      Ahmia searches hidden services on the Tor network. To access these hidden services, you need
      the <a href="https://www.torproject.org/projects/torbrowser.html">{{ tor_browser_bundle }}</a>.
      Abuse material is not allowed on Ahmia. See our <a href="/blacklist">{{ service_blacklist }}</a> and
      report abuse material if you find it in the index. It will be removed as soon as possible.
    {% endblocktrans %}
    </p>

    {% trans "indexing information" as indexing_info %}
    {% trans "contribute to the source code" as contribute_to_source %}
    {% trans "donate Bitcoin to the Ahmia project" as donate_bitcoin %}
    <p>
    {% blocktrans %}
      For more about Ahmia, see <a href="/documentation/indexing">{{ indexing_info }}</a>,
      <a href="https://github.com/ahmia/search">{{contribute_to_source}},
      <a href="https://twitter.com/AhmiaNews">@AhmiaNews</a> on Twitter,
      <br /> Bitcoin address: 3CMc52oegWqorFsBRcakUGHkZEQMfLP43s
      <br /> Onion service: <a href="http://msydqstlz2kzerdg.onion/">msydqstlz2kzerdg.onion</a>
    {% endblocktrans %}
    </p>
    <div id="advertisement">
      <a href="http://6axcig5jgptnkaj2.onion/#/?banner=ahmia">
        <img src="/static/images/ccblackengtop.jpg" alt="Sponsor ads" style="height: 100%; max-width: 60px; width: 100%; max-width: 400px;">
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#id_q').focus();
  });
</script>
{% endblock %}
