{% extends 'core.html' %}
{% load i18n %}

{% block body_class %}main{% endblock %}

{% block precontent %}
  <div id="imageOverlay">&nbsp;</div>
{% endblock %}

{% block body %}
{% include 'partial/nav.html' with nav_type='mini' %}
<div id="ahmiaMainContent">
  <div id="ahmiaSearchArea">
    <h1>Ahmia - i2p network</h1>
    <h2>Happy new year 2016! :)</h2>
    <form id="searchForm" class="autocomplete" action="/i2p_search" method="get">
      <input id="id_q" type="search" name="q">
      <input type="submit" value="{% trans "Search" %}" style="submitButton">
    </form>
  </div>

  <div id="ahmiaDescriptionArea">
    {% trans "Tor browser bundle" as tor_browser_bundle %}
    {% trans "report abuse material" as report_abuse_material %}
    {% trans "service blacklist" as service_blacklist %}

    {% trans "indexing information" as indexing_info %}
    {% trans "contribute to the source code" as contribute_to_source %}
    {% trans "donate Bitcoin to the Ahmia project" as donate_bitcoin %}
    <p>
      {% blocktrans %}
        For more about Ahmia, see <a href="/documentation/indexing">{{ indexing_info }}</a>,
        <a href="https://github.com/ahmia/search">{{contribute_to_source}},
        <a href="https://twitter.com/AhmiaNews">@AhmiaNews</a> on Twitter, 3CMc52oegWqorFsBRcakUGHkZEQMfLP43s
      {% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#id_q').focus();
  });
</script>
{% endblock %}
