{% extends "base.html" %}

{% block title %}Statistics viewer{% endblock %}

{% block content %}

<noscript><p>Please enable JavaScript to view these statistics.</p></noscript>

<script type="text/javascript" src="/static/js/canvasjs.min.js"></script>

<script type="text/javascript" src="/static/js/statsviewer.js"></script>

<h2>The most popular hidden services</h2>

<div style="width: 100%;">
 <div style="float: left; width: 33.3%;">
  <h3>By total search results clicks</h3>
  <ol id="clicks"></ol>
 </div>
 <div style="float: left; width: 33.3%;">
  <h3>By Tor2web average visits</h3>
  <ol id="tor2web"></ol>
 </div>
 <div style="float: left; width: 33.3%;">
  <h3>By public WWW backlinks</h3>
  <ol id="public_backlinks"></ol>
 </div>
 <br style="clear: left;" />
</div>

<div id="chartContainer" style="height: 400px; width: 100%;"></div>

{% endblock %}


